{% for tag in site.tags %}
{% capture tag_name %}{{tag | first}}{% endcapture %}

{% if tag_name == include.tag_name %}

<h2 class="page-heading" id="{{ tag[0] | slugify }}">{{ tag | first }}</h2>
<ul class="post-list">
  {% for post in tag[1] %}
  <br>
  <h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a>
  </h3>
  {% if include.date_format %}
  {%- assign date_format = include.date_format | default: "%b %-d, %Y" -%}
  {% else %}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% endif %}
  <div class="post-meta">
    {{ post.date | date: date_format }}
    {%- if post.date_end -%}
    - {{ post.date_end | date: date_format }}
    {%- endif -%}
  </div>
  <div class="post-meta">{{ post.company }}
    {%- if post.employment_type -%}
    &nbsp;· {{ post.employment_type }}
    {%- endif -%}
    </div>
  <div class="post-meta">{{ post.location }}</div>
  {%- if site.show_excerpts -%}
  <div>
    {{ post.excerpt }}
  </div>
  {%- endif -%}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}