---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% include posts-by-tag.html tag_name="Experience" %}
  {% include posts-by-tag.html tag_name="Education" date_format="%Y" %}

  <h2 class="post-list-heading" id="languages">Languages</h2>
  <ul class="language-list">
    <li><b>Spanish:</b> Native</li>
    <li><b>Catalan:</b> Native</li>
    <li><b>English:</b> Fluent (C1)</li>
    <li><b>German:</b> Basic Knowledge (A2)</li>
  </ul>


</div>